logged in? <%= user_signed_in? %>
<br/>
Nickname: <%= current_user.try(:nickname) %>
<%= javascript_tag do %>
 var jwtToken = '<%= params[:auth_token] %>';
<% end %>
<div id="react-app"></div>

<%= javascript_include_tag 'vendor.bundle' %>
<%= javascript_include_tag 'bundle' %>
